*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.icon-md {
  width: 24px;
  height: 24px;
}

.infinity-tower {
  &-floors {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(180deg, #b8d1fc 0%, #f2f0da 80%);
    background: radial-gradient(at 50% 75%, #f2f0da 0%, #ecdde5 40%, #b8d1fc 80%, #9ebcf1 100%);
  }

  .floor-card-badge {
    border-color: var(--fc-badge-color);
    &::before {
      background-color: var(--fc-badge-color);
    }
  }
}

.panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

.wallet {
  margin-top: auto;
  margin-bottom: 64px;
  margin-left: 32px;
}
